#shadow_box{
    box-shadow: 42px 38px 21px -32px rgba(0, 0, 0, 0.5);
}


/* .card1 {
    transition: height 0.3s;
    height: 17rem; 
    cursor: pointer;
  }
.card2 {
    transition: height 0.3s;
    height: 17rem;
    cursor: pointer;
  }
.card3 {
    transition: height 0.3s;
    height: 17rem; 
    cursor: pointer;
  }
  
  .card1:hover {
    height: 29rem; 
  }
  
  .card2:hover {
    height: 32rem; 
  }
  
  .card3:hover {
    height: 29rem; 
  }
  
  #box-shadow {
    -webkit-box-shadow: -0.5px 6.5px 20px -10px #000000;
    -moz-box-shadow: -0.5px 6.5px 20px -10px #000000;
    box-shadow: -0.5px 6.5px 20px -10px #000000;
  }

  .transition-height {
    transition: max-height 0.3s ease-in-out;
  } */



  
  
  .card {
    width: 100%;
    max-width: 450px;
    background: #fff;
    transition: all 0.4s;
    border-radius: 10px;
    box-shadow: 10px 8px 15px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 1rem; /* Add padding for better spacing */
  }
  
  .card:hover {
    border-radius: 15px;
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 10px 8px 15px 5px rgba(0, 0, 0, 0.2);
  }
  
  .first-content, .second-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.4s;
    padding: 1rem; /* Adjust padding for better spacing */
  }
  
  .card-title {
    margin-bottom: 0.5rem;
    text-align: center;
    font-size: 1.25rem; /* Adjust font size */
    font-weight: bold;
    color: #333;
    font-family: 'Outfit', sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
  }
  
  .card-text {
    font-size: 1rem;
    text-align: center;
    color: #555;
    font-family: 'Poppins', sans-serif;
  }
  
  .icons {
    width: 30%;
    height: auto;
  }
  
  .second-content {
    height: 0;
    opacity: 0;
  }
  
  .card:hover .first-content {
    height: 0;
    opacity: 0;
  }
  
  .card:hover .second-content {
    height: auto;
    opacity: 1;
  }