.custom-card {
  position: relative;
  max-width: 400px;
  height: 400px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden;
}

.custom-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.custom-card::before,
.custom-card::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: bold;
  background-color: #f0532d;
  transition: all 0.5s;
  z-index: 1; /* Ensure pseudo-elements are behind the content */
}

.custom-card::before {
  top: 0;
  right: 0;
  border-radius: 0 15px 0 100%;
}

.custom-card::after {
  bottom: 0;
  left: 0;
  border-radius: 0 100% 0 15px;
}

.custom-card:hover::before,
.custom-card:hover::after {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  transition: all 0.5s;
}

.custom-card-hover-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  opacity: 0;
  transition: opacity 0.1s 0.1s; /* Delay the opacity change to sync with background expansion */
  padding: 20px;
  box-sizing: border-box;
  color: #fff;
  z-index: 2; /* Ensure text content is above pseudo-elements */
}

.custom-card-heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.custom-card-paragraph {
  font-size: 1em;
}

.custom-card:hover .custom-card-hover-content {
  opacity: 1;
  transition: opacity 0.1s 0.1s; /* Delay the opacity change to sync with background expansion */
}
