

.bg1 {
  height: 100vh;
  width: 90%;
  margin: auto;
  position: relative;
  filter: brightness(110%);
  filter: contrast(80%);
}

html {
  /* scroll-behavior: smooth; */
  background-color: #f4f4f4;
}
 
/* scrollbar */

/* Base scrollbar style */
::-webkit-scrollbar {
  width: 5px; /* Initial width of the scrollbar */
  transition: all 0.5s ease-in-out; /* Smooth transition for all properties */
}

/* Scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey background */
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #f0532d; /* Initial color of the thumb */
  border-radius: 8px; /* Rounded corners for the thumb */
}

/* Scrollbar thumb width on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px; /* Width of the thumb when hovered */
  position: absolute;
  background: #ef6543; /* Optional: Change thumb color on hover */
}
