.Homepage {
    
    --base-margin: 1rem;
    --large-margin: 7rem;
}


/* For 1920x1200 */
@media only screen and (max-width: 1920px) and (max-height: 1200px) {

.Homepage{
margin-left: var(--large-margin);
margin-right: var(--large-margin);
}
}
/* For 1920x1080 */
@media only screen and (max-width: 1920px) and (max-height: 1080px) {

}

/* For 1680x1050 */
@media only screen and (max-width: 1680px) and (max-height: 1050px) {
 
}

/* For 1600x900 */
@media only screen and (max-width: 1600px) and (max-height: 900px) {
.Homepage{
  margin-left: 5rem;
  margin-right: 5rem;
}
 }

/* For 1440x900 */
@media only screen and (max-width: 1440px) and (max-height: 900px) {
.Homepage{
  margin-left: 4rem;
  margin-right: 4rem;
}
}

/* For 1366x768 */
@media only screen and (max-width: 1366px) and (max-height: 768px) {
.Homepage{
  margin-left: 2rem;
  margin-right: 2rem;
}
}

/* For 1024x800 */
@media only screen and (max-width: 1024px) and (max-height: 800px) {
.Homepage{
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
}

/* For 1024x600 */
@media only screen and (max-width: 1024px) and (max-height: 600px) {
 
}